<?xml version="1.0" encoding="utf-8"?>
<siteconfig>
	<siteinfo>
		<sitename>易生学苑</sitename>
		<siteDomain>maming.fx-func.com</siteDomain>
		<linkTypeConfig>0</linkTypeConfig>
		<ReviewType>0</ReviewType>
		<IndexTemplet>/{@dirTemplet}/YS/Content/index.html</IndexTemplet>
		<IndexFileName>index.html</IndexFileName>
		<LenSearch>2|10</LenSearch>
		<SaveIndexPage>{@year04}-{@month}/{@day}</SaveIndexPage>
		<InsertPicPosition>200|left</InsertPicPosition>
		<collectTF>1</collectTF>
		<HistoryNum>30</HistoryNum>
		<publishState>True</publishState>
		<PageStyle>3</PageStyle>
		<PageLinkCount>5</PageLinkCount>
	</siteinfo>
</siteconfig>
