<?xml version="1.0" encoding="utf-8"?>
<siteconfig>
	<!--参数配置-->
	<dirMana>manage</dirMana>
	<!--用户目录-->
	<dirUser>user</dirUser>
	<!--虚拟目录-->
	<dirDumm>
	</dirDumm>
	<!--
    是否开启密码保护
    第1位:如果为1，表示开启密码保护；
    第2位:表示是否在安全码中加随机码，
    第3位:0表示随机码加在安全码前面，1为加在后面 
    -->
	<protPass>0,0,1</protPass>
	<!--密码安全码-->
	<protRand>admin</protRand>
	<!--管理员附件目录-->
	<dirFile>files</dirFile>
	<!--频道静态目录-->
	<dirSite>www</dirSite>
	<!--总站静态文件生成目录-->
	<dirHtml>html</dirHtml>
	<!--用户附件目录-->
	<UserdirFile>Userfiles</UserdirFile>
	<!--模板目录-->
	<dirTemplet>Templets</dirTemplet>
	<dropTemplet>/manage/Plugins/Templets</dropTemplet>
	<!--API后台管理目录-->
	<dirManaApi>api</dirManaApi>
	<!--API会员管理目录-->
	<dirUserApi>api</dirUserApi>
	<!--计划任务目录-->
	<projPath>
	</projPath>
	<indeData>0</indeData>
	<filePass>CSCQcpwHh9j1Yu1JI4Dn+g==</filePass>
	<constPass>CSCQcpwHh9j1Yu1JI4Dn+g==</constPass>
	<portpass>5A68956E8C57E898C184D548C8AA86</portpass>
	<!--归档目录-->
	<dirPige>history</dirPige>
	<!--归档开始日期-->
	<dirPigeDate>2010-01-01</dirPigeDate>
	<!--API连接对象-->
	<sqlConnData>
	</sqlConnData>
	<manner>blue</manner>
	<!--每页记录条数-->
	<PageSize>15</PageSize>
	<!--文件管理设置-->
	<filePath>files</filePath>
	<!--日志文件目录-->
	<LogTxtPath>c:\FoosunLog\</LogTxtPath>
	<!--日志文件名，越复杂越好-->
	<Logfilename>foosun_dotnetcms_10000</Logfilename>
	<!--版权所有,不支持html语法-->
	<copyRight>(c)2013 Foosun Inc. Powered by DotNetCMS v2.0 RC1, All Right Reserved</copyRight>
	<!--会员前台/后台管理title-->
	<headTitle>易生学苑后台管理</headTitle>
	<!--生成的缩略图高度，如果为0，这根据宽度按比列生成图片-->
	<sHeight>0</sHeight>
	<!--生成的缩略图宽度，如果为0，这根据高度按比列生成图片-->
	<sWidth>200</sWidth>
	<!--是否开启内部连接地址-->
	<isLinkTF>1</isLinkTF>
	<!--开启自动存稿功能.第1个参数为开关(1为开启,0为关闭)，第2个参数为多少分钟-->
	<saveContent>1|1</saveContent>
	<!--参数1，每次每批生成的新闻数量.建议范围：2-100，请不要设置太大,参数2：每生成一次，停顿时间，单位秒.-->
	<Prerefresh>5|1</Prerefresh>
	<!--添加新闻的是否静态生成本栏目页和专题页.请尽量不开启，开始会影响添加新闻的效率.-->
	<publicfreshinfo>0|0</publicfreshinfo>
	<!--邮件服务器地址-->
	<smtpserver>
	</smtpserver>
	<!--邮箱用户名-->
	<emailuserName>
	</emailuserName>
	<!--邮箱密码-->
	<emailuserpwd>
	</emailuserpwd>
	<!--邮箱地址-->
	<emailfrom>
	</emailfrom>
	<!--官方文件对比地址-->
	<comparefileurl>
	</comparefileurl>
	<!--标题字数太长是否显示...-->
	<titlemore>1</titlemore>
	<commperPageNum>8</commperPageNum>
	<!--新闻new标识是否显示(1显示,0不显示)|显示图片(1)还是显示样式(0)|图片地址或者样式名称|显示new标识的新闻离生成日期的日期数...-->
	<titlenew>0|1|0|1</titlenew>
	<!--新闻默认自动分页是否开启...-->
	<!--
    是否开启分页
    1.如果为true，表示开启自动分页。
    2.如果为false，表示关闭自动分页。
    -->
	<enableAutoPage>true</enableAutoPage>
	<!--新闻自动分页默认字数...-->
	<splitPageCount>30000</splitPageCount>
	<!--文字友情连接窗口弹出方式...-->
	<Linktagert>_blank</Linktagert>
	<!--图片友情连接窗口弹出方式...-->
	<Linktagertimg>_blank</Linktagertimg>
	<!--FTP列队缓存文件路径-->
	<FTPQueue>Cache/FTPQueue.xml</FTPQueue>
</siteconfig>