<?xml version="1.0" encoding="utf-8"?>
<root>
  <!--请不懂数据库的人员不要修改此项，否则将对数据库造成极大影响
  格式：
  字段名$$所属类型，参看value.config
  -->
  <channel>
    <channelNumber>0</channelNumber>
    <channelName>文章模型</channelName>
    <channelvalue>
    <![CDATA[
    sPicURL$$4
    ]]>
  </channelvalue>
</channel>
<channel>
  <channelNumber>1</channelNumber>
  <channelName>图片模型</channelName>
  <channelvalue>
    <![CDATA[
    sPicURL$$4
    ]]>
    </channelvalue>
  </channel>
  <channel>
    <channelNumber>2</channelNumber>
    <channelName>下载模型</channelName>
    <channelvalue>
    <![CDATA[
    File1$$4
    File2$$4
    File3$$4
    File4$$4
    File5$$4
    ]]>
    </channelvalue>
  </channel>
  <channel>
    <channelNumber>3</channelNumber>
    <channelName>分类信息模型</channelName>
    <channelvalue>
    <![CDATA[
    Type$$0
    Area$$2
    ValidTime$$10
    Mobile$$1
    Tel$$1
    Contacter$$0
    ]]>
    </channelvalue>
  </channel>
  <channel>
    <channelNumber>4</channelNumber>
    <channelName>视频模型</channelName>
    <channelvalue>
    <![CDATA[
    sPicURL$$4
    vod1$$4
    vod2$$4
    ]]>
  </channelvalue>
</channel>
  <channel>
    <channelNumber>5</channelNumber>
    <channelName>产品展示模型</channelName>
    <channelvalue></channelvalue>
  </channel>
  <channel>
    <channelNumber>6</channelNumber>
    <channelName>商城模型</channelName>
    <channelvalue></channelvalue>
  </channel>
  <channel>
    <channelNumber>7</channelNumber>
    <channelName>影视模型</channelName>
    <channelvalue></channelvalue>
  </channel>
  <channel>
    <channelNumber>8</channelNumber>
    <channelName>空间模型</channelName>
    <channelvalue></channelvalue>
  </channel>
</root>

