<?xml version="1.0" encoding="utf-8"?>
<root>
  <foosun>
    <valuetype>0</valuetype>
    <valueName>单行文本(nvarchar,长度:20)</valueName>
  </foosun>
  <foosun>
    <valuetype>1</valuetype>
    <valueName>单行文本(nvarchar,长度:50)</valueName>
  </foosun>
  <foosun>
    <valuetype>2</valuetype>
    <valueName>单行文本(nvarchar,长度:100)</valueName>
  </foosun>
  <foosun>
    <valuetype>3</valuetype>
    <valueName>单行文本(nvarchar,长度:180)</valueName>
  </foosun>
  <foosun>
    <valuetype>4</valuetype>
    <valueName>单行文本(nvarchar,长度:225)</valueName>
  </foosun>
  <foosun>
    <valuetype>5</valuetype>
    <valueName>备注型(ntext)</valueName>
  </foosun>
  <foosun>
    <valuetype>17</valuetype>
    <valueName>备注型(ntext),带编辑器</valueName>
  </foosun>
  <foosun>
    <valuetype>6</valuetype>
    <valueName>下拉菜单(selected)</valueName>
  </foosun>
  <foosun>
    <valuetype>7</valuetype>
    <valueName>数字类型(int)</valueName>
  </foosun>
  <foosun>
    <valuetype>8</valuetype>
    <valueName>数字类型(tinyInt)</valueName>
  </foosun>
  <foosun>
    <valuetype>9</valuetype>
    <valueName>货币类型(money)</valueName>
  </foosun>
  <foosun>
    <valuetype>10</valuetype>
    <valueName>长日期类型(datetime)</valueName>
  </foosun>
  <foosun>
    <valuetype>11</valuetype>
    <valueName>短日期类型(smalldatetime)</valueName>
  </foosun>
  <foosun>
    <valuetype>12</valuetype>
    <valueName>单选框(radio)(值小于200,nvarchar)</valueName>
  </foosun>
  <foosun>
    <valuetype>13</valuetype>
    <valueName>单选框(radio)(值大于200,ntext)</valueName>
  </foosun>
  <foosun>
    <valuetype>14</valuetype>
    <valueName>复选框(checkBox)(总值小于200,nvarchar)</valueName>
  </foosun>
  <foosun>
    <valuetype>15</valuetype>
    <valueName>复选框(checkBox)(总值大于200,ntext)</valueName>
  </foosun>
  <foosun>
    <valuetype>16</valuetype>
    <valueName>多行列表框(listbox)</valueName>
  </foosun>
  <foosun>
    <valuetype>30</valuetype>
    <valueName>(自定义)文件(文件,视频,附件)(Foosun:File)</valueName>
  </foosun>
  <foosun>
    <valuetype>31</valuetype>
    <valueName>(自定义)图片(Foosun:Pic)</valueName>
  </foosun>
  <foosun>
    <valuetype>32</valuetype>
    <valueName>(自定义)模板(Foosun:Templet)</valueName>
  </foosun>
  <foosun>
    <valuetype>33</valuetype>
    <valueName>(自定义)作者(Foosun:Author)</valueName>
  </foosun>
  <foosun>
    <valuetype>34</valuetype>
    <valueName>(自定义)来源(Foosun:Source)</valueName>
  </foosun>
  <foosun>
    <valuetype>35</valuetype>
    <valueName>(自定义)Tags(Foosun:Tags)</valueName>
  </foosun>
</root>

