@charset "utf-8";
/* CSS Document */

.win_big{
	width:948px;
	height:485px;
	margin:auto;
	}


label{
	cursor:pointer;
	}
.agree{
	margin:40px auto;
	width:400px;
	font-size:16px;
	font-weight:800;
	color:#3366cc;
	}
.btnbox{
	text-align:center;
	height:30px;
	padding-top:10px;
	}

#windownbg{
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	background:#000;
	top:0;
	left:0;
	}
#windown-box{
	position:fixed;
	_position:absolute;
	border:5px solid #E9F3FD;
	background:#FFF;
	text-align:left;
	}
#windown-title{
	position:relative;
	height:20px;
	overflow:hidden;
	background:url(../images/x.png) 935px 2px no-repeat;
	}
#windown-close{
	position:absolute;
	right:10px;
	top:8px;
	width:10px;
	height:16px;
	text-indent:-10em;
	overflow:hidden;
	background:url(../images/x.png) 100% -49px no-repeat;
	cursor:pointer;
	}
#windown-content-border{
	position:relative;
	top:-1px;
	padding:5px 0 5px 5px; 
	}
#windown-content img,#windown-content iframe{
	display:block;
	}
#windown-content .loading{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-8px;
	margin-top:-8px;
	}
.login{
	width:948px;
	height:485px;
	margin-top:50px;
	background:url(../images/login_01.gif) center no-repeat;
	}	
.login_big{
	width:280px;
	line-height:40px;
	position:relative;
	top:150px;
	left:540px;
	}	
.login_big .table{
	width:280px;
	line-height:30px;
	border:0;
	}	
.login_big .table .tab1{
	width:80px;
	text-align:right;
	}	
.login_big .table .bottom{
	width:58px;
	height:24px;
	background:url(../images/login_03.gif) no-repeat;
	border:medium none;
	margin:15px 20px;
	}	
.login_big .table .a1{
	margin:0 35px;
	color:#069;
	text-decoration:underline;
	}	
.login_big .table .a2{
	margin:0 20px;
	color:#069;
	text-decoration:underline;
	}	
.login_big .table span{
	margin:0 10px;
	}
	
.login_big .table .inp{
	width:80px;
	}	
	
.forgot{
	width:948px;
	height:485px;
	margin-top:50px;
	background:url(../images/forgot_03.gif) center no-repeat;
	}	
.forgot .table .bottom1{
	width:58px;
	height:24px;
	background:url(../images/forgot_01.gif) no-repeat;
	border:medium none;
	margin:15px 20px;
	}	
.regwin_big{
	width:948px;
	margin:auto;
	}

.reg_top{
	width:948px;
	float:left;
	}
.register{
	width:946px;
	float:left;
	border:#eaeaea 1px solid;
	background:#FFF;
	border-radius:4px 4px 4px 4px;
	}	
.register_big{
	width:946px;
	padding:50px 0;
	float:left;
	line-height:35px;
	}	
.register_big .table{
	width:800px;
	line-height:35px;
	border:0;
	margin-left:150px;
	display:inline;
	}	
.register_big .table .tab1{
	width:80px;
	text-align:right;
	}	
.register_big .table .bottom{
	width:58px;
	height:24px;
	background:url(../images/rig1_03.gif) no-repeat;
	border:medium none;
	margin:5px 20px;
	}	
.register_big .table a{
	margin:0 40px;
	color:#069;
	text-decoration:underline;
	}	
.register_big .table span{
	margin:0 30px;
	}
	
.register_big .table .inwidth{
	width:80px;
	}	
.register_big .table .width{
	width:200px;
	}
.register_big .table .inp{
    border: 1px solid #ABABAB;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 3px #EDEDED inset;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 5px;
    }
.register_big .table .inp{
    border: 1px solid #ABABAB;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 3px #EDEDED inset;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 5px;
    }
.register_big .table .inpm{
	width:210px;
    border: 1px solid #ABABAB;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 3px #EDEDED inset;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 5px;
    }
.inpt{
    border: 1px solid #7f9db9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 3px #EDEDED inset;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 5px;
    }	
	
.register_big .table .span1{
	line-height:18px;
	color:#666;
    }	
.register_big .table .tishi{
	width:98%;
	margin-left:20px;
	display:inline;
	}			
.register_big .table .suecc{
	color:#090;
	background:url(../images/regsuc.gif) center left no-repeat;
	}	
.register_big .table .fail{
	color:#F00;
	background:url(../images/regabto.gif) center left no-repeat;
	}	






	
