<?xml version="1.0"?>
<APIConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ApplicationList>
    <ApplicationInfo>
      <AppID>dz</AppID>
      <AppUrl></AppUrl>
    </ApplicationInfo>
    <ApplicationInfo>
      <AppID>ob</AppID>
      <AppUrl></AppUrl>
    </ApplicationInfo>
  </ApplicationList>
  <Enable>false</Enable>
  <AppKey>111111</AppKey>
  <AppID>dz</AppID>
</APIConfig>