@charset "utf-8";
/* CSS Document */


body{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif,"宋体";
	}
img{
	border:none;
	}
a{
	text-decoration:none;
	}
.big{
	width:100%;
	float:left;
	margin:1% 0;

	}
.ui-gallery{
	width:800px;
	float:left;
	}
	
.ui-lan{
	width:800px;
	line-height:33px;
	float:left;
	}
.ui-lan h4{
	margin-left:20px;
	color:#FFF;
	float:left;
	}
.ui-lan .meunbtn{
	width:96px;
	height:25px;
	float:left;
	border: medium none;
	margin-left:20px;
	background:url(imges/bc.png) no-repeat;
	display:inline;
	}
.ui-gallery .gallery{
	width:800px;
	float:left;
	_height:400px;
	min-height:400px;
	}
.ui-gallery .gallery li{
	float:left;
	display:block;
	margin:5px 5px;
	position:relative;
	overflow:hidden;
	}
.ui-gallery .gallery li img{
	 height:97px;
	 border:none;
	}
.ui-gallery .gallery li .limg{
	 width:210px;
	 height:97px;
	}	
.ui-gallery .gallery li .gimg{
	 width:100px;
	 height:97px;
	}
.ui-gallery .gallery li .meunname{
	position:absolute;
	color:#FFF;
    bottom:3px;
	left:10px;
	width:100%;
	line-height:24px;
    display:block;
	}
.ui-gallery .gallery li .meunname a{
	color:#FFF;
	}
.yid{
	width:350px;
	float:right;
	background:#FFF;
	}

.yid-lan{
	width:100%;
	line-height:30px;
	float:left;
	background:#f6f6f6;
	border-bottom:1px solid #D8D8D8;
	}
.yid-lan h4{
	margin-left:20px;
	font-weight:100;
	}
.yid-bot{
	width:100%;
	float:left;
	height:350px;
	margin:10px 0;
	overflow:auto;
	}
.yid .sgallery{
	width:100%;
	float:left;
	height:350px;
	display:inline;
	padding-bottom:10px;
	margin-bottom:10px;
	}
.yid .sgallery li{
	width:auto;
	float:left;
	text-align:center;
	line-height:24px;
	margin:0 5px;
	display:block;
	_margin:0 5px;
	}
.yid .sgallery li .limg{
	 width:210px;
	 height:97px;
	}	
.yid .sgallery li .gimg{
	 width:100px;
	 height:97px;
	}
.yid .sgallery li a{

	}


