@charset "utf-8";
/* CSS Document */
	
*{
		margin:0;
		padding:0;
		}
		
body{
		font-size:12px;
		font-family:Arial, Helvetica, sans-serif,"宋体";
		background:url(../images/conn_01.gif) repeat-x;
		}
		
a{
		color:#000;
		text-decoration:none;
		border:none;
		}
		
a:hover{
		text-decoration:none;
		border:none;
		}

ul{
		list-style:none;
		}
		
li{
		list-style:none;
		}		
		
img{
		border:0;
		}
.clear{
		clear:both;
	}
h1 { 
    font-size:32px;
}
h2 {
	font-size:26px;
	}
h3 {
	font-size:20px;
	}
h4 {
	font-size:14px;
	}
h5 {
	font-size:12px;
	}
h6 {
	font-size:10px;
	}		