@charset "utf-8";
/* CSS Document */
.wear{
	width:960px;
	margin:0 auto;
	}
/*top*/
.top{
	width:960px;
	height:187px;
	float:left;
	}
.top img{
	width:960px;
	height:187px;
	}
	
/*menu*/

.menu{
	width:960px;
	height:30px;
	float:left;
	line-height:30px;
	background:url(../images/main_04.gif) repeat-x;
	}
.menu_ul{
	width:882px;
	height:30px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	margin:0 35px;
	}
.menu_ul li{
	width:98px;
	float:left;
	display:block;
	text-align:center;
	}
.menu_ul li a{
	width:98px;
	color:#FFF;
	}
.menu_ul li a:hover{
	width:98px;
	color:#F00;
	height:30px;
	float:left;
	display:block;
	background:url(../images/main_06.gif) no-repeat;
	}
.f1{
	width:960px;
	float:left;
	margin-top:10px;
	}	
.f1_l{
	width:300px;
	float:left;
	line-height:24px;
	border:#CCC 1px solid;
	background:#F6F6F6;
	text-align:center;
	}	
.f1_l img{
	width:290px;
	height:201px;
	padding:5px;
	}	
.f1_c{
	width:375px;
	float:left;
	background:url(../images/main_11.gif) no-repeat;
	margin:0 7px;
	display:inline;
	}
.f1_c_more{
	width:355px;
	float:left;
	line-height:40px;
	text-align:right;
	padding-right:20px;
	}	
.f1_c_top{
	width:355px;
	float:left;
	line-height:24px;
	margin:0 10px 0 10px;
	padding-bottom:10px;
	border-bottom:1px dashed #C33;
	display:inline;
	}	
.f1_c_top h4{
	color:#F00;
	text-align:center;
	width:355px;
	height:30px;
	overflow:hidden;
	line-height:30px;
	}
.f1_c_top p{
	width:355px;
	height:48px;
	overflow:hidden;
	color:#666;
	}
.f1_c_top p a{
	color:#F00;
	margin:0 3px;
	}
.f1_c_lie{
	width:355px;
	float:left;
	line-height:24px;
	margin:12px 10px 0 10px;
	display:inline;
	}
.f1_c_lie ul li{
	width:355px;
	float:left;
	line-height:24px;
	height:24px;
	overflow:hidden;
	display:block;
	background:url(../images/main_21.gif) center left no-repeat;
	}
.f1_c_lie ul li a{
	margin-left:8px;
	display:inline;
	}
.f1_r{
	width:267px;
	float:left;
	border:1px solid #CCC;
	}
.f1_r_top{
	width:267px;
	line-height:32px;
	float:left;
	background:url(../images/main_13.gif) no-repeat;
	}
.f1_r_top strong{
	color:#F00;
	float:left;
	width:100px;
	text-align:center;
	display:inline;
	font-size:14px;
	line-height:20px;
	margin-top:10px;
	}
.f1_r_top a{
	float:right;
	margin-right:10px;
	color:#FFF;
	display:inline;
	}
.f1_r_bot{
	width:267px;
	float:left;
	padding:5px 0;
	line-height:24px;
	}
.f1_r_bot ul li{
	width:267px;
	float:left;
	display:block;
	background:url(../images/main_21.gif) 10px no-repeat;
	}
.f1_r_bot ul li a{
	margin-left:20px;
	}


/*f2*/

.f2_l{
	width:266px;
	float:left;
	border:#CCC 1px solid;
	}
.f2_l_top{
	width:266px;
	float:left;
	background:url(../images/main_28.gif) repeat-x;
	line-height:28px;
	}
.f2_l_top span{
	width:98px;
	height:28px;
	float:left;
	font-size:14px;
	color:#FFF;
	padding-left:15px;
	background:url(../images/main_26.gif) no-repeat;
	}
.f2_l_top a{
	float:right;
	margin-right:10px;
	}
.f2_l_img{
	width:251px;
	height:96px;
	float:left;
	margin:10px 7px;
	display:inline;
	border:1px solid #CCC;
	}
.f2_l_img img{
	width:245px;
	height:90px;
	padding:3px;
	}	
.f2_l_li{
	width:266px;
	float:left;
	line-height:24px;
	}	
.f2_l_li ul li{
	width:266px;
	float:left;
	display:block;
	height:24px;
	overflow:hidden;
	background:url(../images/main_47.gif) 8px no-repeat;
	}	
.f2_l_li ul li a{
	margin-left:22px;
	display:inline;
	}	
.f2_c{
	width:403px;
	float:left;
	margin:0 10px;
	_margin:0 9px;
	display:inline;
	}	
.f2_c_top{
	width:403px;
	float:left;
	line-height:32px;
	}	
.f2_c_top .tab_zzjs_{
	width:403px;
	padding:0;
	margin:0;
	float:left;
	line-height:31px;
	font-size:14px;
	}	
.f2_c_top .tab_zzjs_ li{
	width:98px;
	display:inline-block;
	float:left;
	cursor:pointer;
	text-align:center;
	margin:0 1px;
	}	
.f2_c_top .tab_zzjs_ li a:hover{
	color:#FFF;
	}
.f2_c_top .hovertab_zzjs{
	background:url(../images/main_31.gif) no-repeat;
	color:#FFF;
	}
.f2_c_top .nor_zzjs{
	background:url(../images/main_33.gif) no-repeat;
	}
.f2_c_bot{
	width:403px;
	float:left;
	}
.f2_c_bot .dis_zzjs_net{
	width:403px;
	float:left;
	display:block;
	}
.f2_c_bot .undis_zzjs_net{
	width:403px;
	float:left;
	display:none;
	}
.f2_c_bot_li{
	width:403px;
	float:left;
	margin-top:5px;
	}
.f2_c_bot_li ul li{
	width:400px;
	float:left;
	display:block;
	line-height:24px;
	background:url(../images/main_43.gif) 8px no-repeat;
	border-bottom:#CCC dashed 1px;
	}
.f2_c_bot_li ul li a{
	width:310px;
	margin-left:25px;
	float:left;
	height:24px;
	overflow:hidden;
	}
.f2_c_bot_li ul li span{
	float:left;
	}

.banner{
	width:960px;
	float:left;
	height:66px;
	margin-top:10px;
	}
.banner img{
	width:960px;
	height:66px;	
	}
	
/*f3*/		
	
.f3_l{
	width:226px;
	float:left;
	border:1px solid #CCC;
	}
.f3_l_bot{
	line-height:32px;
	float:left;
	width:237px;
	font-size:14px;
	padding:15px;
	}	
	
.f3_l_bot .int{
	width:230px;
	height:25px;
	color:#666;
	}	
.f3_l_bot .botton{
	width:96px;
	height:34px;
	border:none;
	margin:15px 0 0 100px;
	background:url(../images/main_57.gif) no-repeat;
	}	
	
.f3_r{
	width:680px;
	float:left;
	margin-left:8px;
	border:#CCC 1px solid;
	}
.f3_r_top{
	width:680px;
	float:left;
	background:url(../images/main_28.gif) repeat-x;
	line-height:28px;
	}
.f3_r_top span{
	width:98px;
	height:28px;
	float:left;
	font-size:14px;
	color:#FFF;
	padding-left:15px;
	background:url(../images/main_26.gif) no-repeat;
	}
.f3_r_top a{
	float:right;
	margin-right:10px;
	}	
.f3_r_bot{
	width:680px;
	float:left;
	padding-top:8px;
	}	
.f3_r_bot ul li{
	width:153px;
	float:left;
	display:block;
	text-align:center;
	line-height:24px;
	margin:0 8px;
	_margin:0 6px;
	}	
.f3_r_bot ul li img{
	width:147px;
	height:104px;
	padding:3px;
	border:1px solid #CCC;
	}	
	
/*f4	*/
.f4{
	width:960px;
	float:left;
	background:#F6F6F6;
	line-height:40px;
	margin:10px 0;
	border:1px solid #CCC;
	_padding-bottom:10px;
	}	
.f4 span{
	margin:0 15px;
	display:inline;
	float:left;
	}	
.f4 select{
	width:180px;
	float:left;
	margin:10px 15px;
	display:inline;
	color:#666;
	}	
	
/*版权部分*/	
	
.ban{
	width:960px;
	float:left;
	padding:20px 0;
	border-top:2px solid #F00;
	text-align:center;
	line-height:24px;
	}	
.ban a{
	margin:0 10px;
	display:inline;
	}	
.ban span{
	margin:0 5px;
	}	
	
	
	
	
/*列表页页面代码*/	
	
.liel{
	width:680px;
	float:left;
	margin-right:10px;
	_margin-right:9px;
	}	
.liel_1{
	width:680px;
	float:left;
	margin-bottom:10px;
	border:1px solid #CCC;
	}	
.liel_1_top{
	width:680px;
	float:left;
	background:url(../images/main_28.gif) repeat-x;
	line-height:28px;
	}		
.liel_1_top span{
	width:98px;
	float:left;
	line-height:28px;
	font-size:14px;
	padding-left:15px;
	color:#FFF;
	background:url(../images/main_26.gif) no-repeat;
	}	
.liel_1_top a{
	float:right;
	margin-right:15px;
	}

.liel_1_bot{
	width:680px;
	float:left;
	padding:10px 0;
	line-height:24px;
	}
.liel_1_bot ul li{
	width:680px;
	float:left;
	display:block;
	background:url(../images/main_47.gif) 10px no-repeat;
	}
.liel_1_bot ul li a{
	width:580px;
	float:left;
	margin-left:25px;
	display:inline;
	height:24px;
	overflow:hidden;
	}
.liel_1_bot ul li span{
	float:left;
	}

.lf1_r{
	width:267px;
	float:left;
	margin-bottom:10px;
	border:1px solid #CCC;
	}
.f1_r_g{
	width:267px;
	float:left;
	}

.lf1_r_bot{
	width:265px;
	float:left;
	padding:5px 0;
	line-height:30px;
	}
.lf1_r_bot ul li{
	width:217px;
	float:left;
	display:block;
	margin:5px 25px;
	_margin:5px 12px;
	font-size:14px;
	background:url(../images/lie_03.gif) no-repeat;
	}
.lf1_r_bot ul li a{
	margin-left:60px;
	display:inline;
	}
.lf1_r_bot ul li a:hover{
	color:#F00;
	}

/*文档列表*/

.fanye{
	width:680px;
	text-align:center;
	float:left;
	margin:15px 0;
	}	
	
/*政务公开页面*/
.zwf1_l{
	width:678px;
	float:left;
	margin-right:10px;
	display:inline;
	border:1px solid #CCC;
	}
.zwf1_l_img{
	width:262px;
	float:left;
	margin:12px 6px;
	display:inline;
	_padding-bottom:8px;
	}	
.zwf1_l_img img{
	width:262px;
	height:222px;
	}	
.zwf1_l_h{
	width:403px;
	float:left;
	margin:1px 0;
	display:inline;
	}	
.zwf1_r_bot{
	width:267px;
	height:210px;
	float:left;
	padding:5px 0;
	line-height:26px;
	}
.zwf1_r_bot ul li{
	width:80px;
	float:left;
	display:block;
	text-align:center;
	margin:4px;
	_margin:4px 3px;
	background:url(../images/zh_06.gif) no-repeat;
	}
.zwf2_l{
	width:312px;
	float:left;
	border:#CCC 1px solid;
	}
.zwf2_2{
	width:312px;
	float:left;
	margin:0 8px;
	display:inline;
	border:#CCC 1px solid;
	}
.zwf2_l_top{
	width:312px;
	float:left;
	background:url(../images/main_28.gif) repeat-x;
	line-height:28px;
	}
.zwf2_l_top span{
	width:98px;
	height:28px;
	float:left;
	font-size:14px;
	color:#FFF;
	padding-left:15px;
	background:url(../images/main_26.gif) no-repeat;
	}
.zwf2_l_top a{
	float:right;
	margin-right:10px;
	}
.zwf2_l_img{
	width:302px;
	height:96px;
	float:left;
	margin:7px 5px;
	display:inline;
	padding-bottom:10px;
	border-bottom:#CCC 1px dashed;
	}
.zwf2_l_img_img{
	width:118px;
	height:95px;
	float:left;
	border:1px solid #CCC;
	}
.zwf2_l_img_img img{
	width:112px;
	height:89px;
	padding:3px;
	}
.zwf2_l_img_zi{
	width:175px;
	line-height:20px;
	float:left;
	margin-left:7px;
	display:inline;
	}
.zwf2_l_img_zi strong{
	width:175px;
	line-height:24px;
	float:left;
	height:24px;
	overflow:hidden;
	}	
.zwf2_l_img_zi p a{
	color:#F00;
	margin:0 8px;
	display:inline;
	}
.zwf2_l_img_zi p{
	width:175px;
	height:71px;
	float:left;
	overflow:hidden;
	line-height:20px;  
	}
.zwf2_l_li{
	width:312px;
	float:left;
	line-height:24px;
	}
		
.zwf2_l_li ul li{
	width:312px;
	float:left;
	display:block;
	height:24px;
	overflow:hidden;
	background:url(../images/main_47.gif) 8px no-repeat;
	}	
.zwf2_l_li ul li a{
	margin-left:22px;
	display:inline;
	}	
	
.zwf2_r_li{
	width:312px;
	float:left;
	margin:10px 0;
	line-height:28px;
	}	
.zwf2_r_li ul li{
	width:155px;
	float:left;
	display:block;
	height:28px;
	line-height:28px;
	overflow:hidden;
	}	
.zwf2_r_li ul li a{
	margin-left:15px;
	display:inline;
	}	
.zwf3_r_bot{
	width:680px;
	float:left;
	}	
.zwf3_r_bot ul li{
	width:680px;
	float:left;
	display:block;
	line-height:24px;
	background:url(../images/main_21.gif) 10px no-repeat;
	}		
.zwf3_r_bot ul li a{
	margin-left:25px;
	float:left;
	width:450px;
	display:inline;
	}
.zwf3_r_bot ul li span{
	float:left;
	margin:0 20px;
	float:left;
	}


/*内容页*/

.wei{
	width:680px;
	line-height:30px;
	float:left;
	}
.wei a{
	margin:0 5px;
	}
.nei{
	width:680px;
	margin-top:5px;
	float:left;
	border:1px solid #CCC;
	}
.nei h4{
	line-height:50px;
	text-align:center;
	}
.nei_shi{
	width:640px;
	float:left;
	margin:0 20px;
	display:inline;
	border:1px solid #CCC;
	background:#F7F7F7;
	line-height:30px;
	text-align:center;
	}
.nei_shi span{
	margin:0 10px;
	}
.nei_p{
	width:640px;
	float:left;
	margin:20px;
	display:inline;
	line-height:24px;
	}












	