@charset "utf-8";
/* CSS Document */
img{ border:none;}
body{ background:url(../images/index-body-bg.jpg) no-repeat top center; font-family:"微软雅黑"; }
body.page{ background:url(../images/page-body-bg.jpg) no-repeat top center;}
.wrap{ width:1000px; margin:0 auto;}
.head{ height:650px;}
.page-head{ height:315px; overflow:hidden;}
.top{ height:130px;}
.top .logo{ width:68px; height:100px; float:left;margin:2px 0 0 15px;}
.top .logo img{ width:68px; height:100px; }
.top .weixin{ width:86px; height:103px; float:right; margin:0 10px 0 0; background:#7f705c;}
.top .weixin p{ line-height:23px; color:#fff; text-align:center; font-size:14px;}
.top .weixin .wx-pic { width:76px; height:76px; background:#fff; margin:0 auto;}
.top .weixin .wx-pic img{ width:70px; height:70px; display:block; padding:3px;}


.nav{ width:100%; overflow:hidden;}
.nav li{ float:left; margin-right:8px; width:160px; height:64px; line-height:64px; border-radius:5px; background:#f7f6f1; font-size:30px; font-family:"微软雅黑"; text-align:center; color:#613c12;}
.nav li a{ color:#613c12; display:block;}
.nav li a:hover{background:#fff;border-radius:5px;}
.nav li.last{ margin-right:0;}

.column{ margin-top:20px; width:100%; overflow:hidden;}
.index-list{ width:310px; float:left;}
.mr35{ margin-right:35px;}
.index-list .title{ height:34px; line-height:34px; margin:15px 0;}
.index-list .title h2{ font-size:28px; display:block; float:left; color:#000066;}
.index-list .title a{ font-size:14px; display:block; float:right; color:#660000; margin-right:10px;}
.index-list .content li{ height:20px; line-height:20px; margin-bottom:8px; font-size:14px; color:#333333; background:url(../images/icon.jpg) no-repeat 0 8px;  padding-left:17px; overflow:hidden;text-overflow:ellipsis; white-space:nowrap; *white-space:nowrap;}
.index-list .content li a{ color:#323232;}
.index-list .content li a:hover{ color:#000;}
.footer{ width:100%; height:70px; background:#e0ddd8; clear:both;}
.footer p{ font-size:14px; color:#343434; padding-top:15px; line-height:1.6; text-align:center;}


.main{ margin:30px 0;}
.left{width:210px; float:left;}
.subnav{ width:210px;background:#dbd0c0; padding-bottom:30px;border-radius:0 0 3px 3px; }
.subnav h3{ height:68px; line-height:68px; border-bottom:#4e3e2a 2px solid; background:#71624e; font-size:24px; color:#dbd0c0; text-align:center; border-radius:3px 3px 0 0;}
.subnav ul{ width:210px; padding-top:20px;   border-radius:0 0 3px 3px;}
.subnav ul li{ height:64px; line-height:64px; font-size:18px; color:#71624e; text-align:center; background:url(../images/subnav-line.jpg) no-repeat bottom center; position:relative;}
.subnav ul li a{ display:block; color:#71624e; width:100%; height:100%;}
.subnav ul li a:hover,.subnav ul li.current a{ background:url(../images/subnav-li.png) no-repeat; width:226px; height:75px; position:absolute; left:-8px;}
.subnav ul li.no-bg{ background:none;}

.right{width:770px; float:right;}
.pagebg{ width:880px;min-height:570px;padding: 40px 40px;margin:15px auto 0 auto; border:#d7d7d5 1px solid;background:#fff;	color:#343434;	background: url(../img/pagebg.gif);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#d7d7d5,direction=120,strength=4);/*ie*/
	-moz-box-shadow: 2px 2px 10px #d7d7d5;/*firefox*/
	-webkit-box-shadow: 2px 2px 10px #d7d7d5;/*safari或chrome*/
	box-shadow:2px 2px 10px #d7d7d5;/*opera或ie9*/
font-family: '宋体'; font-size: 14px; letter-spacing: 1px; color: #343434; line-height: 28px;
}
.breadcrumb{ width:750px; height:46px; line-height:46px; padding:0 0 0 20px;font-size: 18px; background:#eee8e0; color:#91826f;}
.breadcrumb a{ color:#91826f;}
.breadcrumb span{ color:#71624e;}
.line{ width:770px; height:2px; font-size:0;  background:#eee8e0;  margin:10px 0;}


.page-news-list {width:710px;padding:30px;background:#f4f0eb;clear:both;}
.page-news-list li {width:690px;color:#71624e;font-size:14px;margin:10px 0;background:url(../images/icon.png) no-repeat 0 8px;padding-left:20px;}
.page-news-list li a {color: #71624e;}
.page-news-list li a:hover {color: #000;}
.page-news-list li .s1 {float: left;}
.page-news-list li .s2 {float: right;margin-left: 20px;}


.digg { PADDING:3px;  TEXT-ALIGN: center ;margin:30px 0;clear:both;} 
.digg A,.digg SPAN.current,.digg SPAN.disabled{ PADDING:2px 8px;  MARGIN: 2px; COLOR: #000099; TEXT-DECORATION: none ; background:#dbd0c0; font-size:12px;color:#71624e;border-radius:3px;} 
.digg A:hover { COLOR: #000; } 
.digg A:active { COLOR: #000; } 
.digg SPAN.current,.digg SPAN.disabled{ background:#efe8dd;} 

.page-pic-list,.page-us {width:710px;padding:30px;background:#f4f0eb;clear:both;}
.page-pic-list li { margin-bottom:45px;	}
.page-pic-list li .s1{ float:left; width:92px; height:128px;}
.page-pic-list li .s1.big-pic{ width:320px; height:180px;}
.page-pic-list li .s1 img{ display:block; width:100%; height:100%;}
.page-pic-list li .s2{ float:left; width:580px; margin:50px 0 0 15px;}
.page-pic-list li .s2.big-pic{width:370px;}
.page-pic-list li .s2 h4{ color:#4a3d2b; font-size:18px;}
.page-pic-list li .s2 h4 a,.page-pic-list li .s2 p a{color:#4a3d2b;}
.page-pic-list li .s2 p{ color:#827564; font-size:14px; margin-top:10px; line-height:22px;}

.p-txt{ width:190px; margin:25px auto 30px auto; color:#71624e; font-size:14px; letter-spacing:1px; text-indent:2em;}
.btn-web{ width:186px; height:50px; line-height:50px; text-align:center; color:#71624e; background:#f4f0ea; margin:0 auto; display:block; font-size:18px; border-radius:3px;}
.page-us-list { width:340px; float:left;}
.page-us-list dt{ font-size:24px; color:#333; margin-bottom:20px;}
.page-us-list dd{ font-size:14px; color:#333333; margin-bottom:10px;}
.page-us-er{ float:left; margin-top:100px;}
.page-us-er li { float:left; margin:0 15px; }
.page-us-er li .pic{ width:76px; height:76px; background:#fff;}
.page-us-er li .pic img{ width:70px; height:70px; display:block; padding:3px;}
.page-us-er li p{ width:76px; line-height:40px; font-size:14px; text-align:center; overflow:hidden; height:40px; color:#333;}
.regsiter{ width:402px; margin:0 auto;}
.regsiter-tit{ background:url(../images/regsiter.png) no-repeat; width:129px; height:74px; margin:30px auto 60px auto;}
.regsiter ul li{ height:64px;}
.regsiter ul li .xx{ border-radius:3px; border:#cccccc 1px solid; width:400px; height:40px; color:#666666; position:relative;}
.regsiter ul li .xx label{ display:block; position:absolute; top:0; left:20px;  font-size:18px;  line-height:40px; z-index:2;}
.regsiter ul li .xx input{display:block; position:absolute; top:5px; left:0px; width: 270px; height:30px; border:none; _border:0; line-height:30px; font-size:18px; color:#666666;padding: 0 30px 0 100px;}
.regsiter ul li .xx i{display:block; position:absolute; top:15px; right:20px; font-style:normal; color:#F00; z-index:3;}
.regsiter ul li p.error{ clear:both; font-size:13px; color:#ff0000; line-height:20px;}
.regsiter .btn-reg{ width:204px; height:44px; line-height:44px; border-radius:20px; background:#7f6c52; color:#fff; font-size:18px; border:none; font-family:"微软雅黑"; margin:20px auto; display:block; cursor:pointer;}