<?xml version="1.0" encoding="UTF-8"?>
<configuration>      
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>
  <appSettings>
    <add key="dataRe" value="fs_" />
    <add key="WebDAL" value="Foosun.SQLServerDAL" />
    <add key="mssql" value="1" />
    <add key="extensions" value=".aspx" />
    <add key="ModelCache" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="foosun" connectionString="server=127.0.0.1;uid=mm;pwd=mm;database=FSDotNetCMS v2.0;" />
    <add name="HelpKey" connectionString="server=127.0.0.1;uid=mm;pwd=mm;database=FSDotNetCMS v2.0;" />
    <add name="Collect" connectionString="server=127.0.0.1;uid=mm;pwd=mm;database=FSDotNetCMS v2.0;" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="102400" executionTimeout="36000" requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0" />
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
  
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule" />
    </modules>
    <handlers>
    </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
  <!--以下请不要修改，否则将造成连接找不到的问题-->
  <rewriter>
    <!--这里的user目录请和appSettings节点的dirUser保持一致-->
    <rewrite url="~/user/showuser-(.+).aspx" to="~/user/showuser.aspx?uid=$1" />
    <rewrite url="~/content-(.+)-(.+)-(.+).aspx" to="~/content.aspx?id=$1&amp;ChID=$2&amp;Page=$3" />
    <rewrite url="~/content-(.+)-(.+).aspx" to="~/content.aspx?id=$1&amp;Page=$2" />
    <rewrite url="~/content-(.+).aspx" to="~/content.aspx?id=$1" />
    <rewrite url="~/list-(.+)-(.+)-(.+).aspx" to="~/list.aspx?id=$1&amp;ChID=$2&amp;Page=$3" />
    <rewrite url="~/list-(.+)-(.+).aspx" to="~/list.aspx?id=$1&amp;Page=$2" />
    <rewrite url="~/list-(.+).aspx" to="~/list.aspx?id=$1" />
    <rewrite url="~/special-(.+)-(.+)-(.+).aspx" to="~/special.aspx?id=$1&amp;ChID=$2&amp;Page=$3" />
    <rewrite url="~/special-(.+)-(.+).aspx" to="~/special.aspx?id=$1&amp;Page=$2" />
    <rewrite url="~/special-(.+).aspx" to="~/special.aspx?id=$1" />
    <rewrite url="~/down-(.+).aspx" to="~/down.aspx?id=$1" />
    <rewrite url="~/history-(.+).aspx" to="~/history.aspx?id=$1" />
    <rewrite url="~/page-(.+)-(.+).aspx" to="~/page.aspx?id=$1&amp;Page=$2" />
    <rewrite url="~/page-(.+).aspx" to="~/page.aspx?id=$1" />
  </rewriter>
</configuration>